<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      Ultimos Eventos Ponches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary"> 
      <ion-title size="large">Ultimos Eventos Ponches</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2020-03-13</ion-card-subtitle>
      <ion-card-title>Alejandro Jimenez</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Encargado de Bases de Datos: 
      Departamento de tecnologio de La Informacion y Comunicaciones.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="alarm-outline" color="primary"  slot="start"></ion-icon>
      <ion-label>2020-03-13</ion-label>

      <ion-button fill="outline" slot="end">View</ion-button>
    
    
    </ion-item>
  
    <ion-card-content>
      Alejandro Jimenez
    </ion-card-content>



    
    <ion-card>
      <ion-item href="#" class="ion-activated">
        <ion-icon name="enter-outline" color="primary"></ion-icon>
        <ion-label>== 8:15 Entrada Tardia </ion-label>
        <ion-icon name="checkmark-done-circle" color="danger"></ion-icon>
      </ion-item>
    
      <ion-item href="#">
        <ion-icon name="fast-food-outline" color="primary"></ion-icon>
        <ion-label> == 13:25 Salida Almuerzo</ion-label>
      </ion-item>
    
      <ion-item class="ion-activated">
        <ion-icon name="fast-food" color="secondary"></ion-icon>
        <ion-label> == 14:20 Entrada almuerso</ion-label>
        <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      </ion-item>
    
      <ion-item>
        <ion-icon name="walk-outline" color="secondary"></ion-icon>
        <ion-label> == 17: 35 Salida</ion-label>
        <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      </ion-item>
    </ion-card>
    
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="alarm-outline" color="primary"  slot="start"></ion-icon>
      <ion-label>2020-03-16</ion-label>

      <ion-button fill="outline" slot="end">View</ion-button>
    
    
    </ion-item>
  
    <ion-card-content>
      Alejandro Jimenez
    </ion-card-content>



    
    <ion-card>
      <ion-item href="#" class="ion-activated">
        <ion-icon name="enter-outline" color="primary"></ion-icon>
        <ion-label>== 8:06 Entrada Tardia </ion-label>
        <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      </ion-item>
    
      <ion-item href="#">
        <ion-icon name="fast-food-outline" color="primary"></ion-icon>
        <ion-label> == 13:15 Salida Almuerzo</ion-label>
      </ion-item>
    
      <ion-item class="ion-activated">
        <ion-icon name="fast-food" color="secondary"></ion-icon>
        <ion-label> == 14:35 Entrada almuerso</ion-label>
        <ion-icon name="checkmark-done-circle" color="danger"></ion-icon>
      </ion-item>
    
      <ion-item>
        <ion-icon name="walk-outline" color="secondary"></ion-icon>
        <ion-label> == 17: 12 Salida</ion-label>
        <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      </ion-item>
    </ion-card>
    
  </ion-card>



</ion-content>
